* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    max-width: 1920px;
    margin: auto;
  }
  .header {
    height: 62px;
    position: relative;
    width: 100%;
    background-color: #efefef;
  }
  .header nav {
    padding-top: 19px;
  }
  .NavMenu .nav-element {
    font-size: 16px;
    font-family: "Radio Canada", sans-serif;
    text-decoration: none;
    padding: 0px 10px 0px 10px;
    color: rgb(118, 118, 118);
  }
  .NavMenu .h1-nav {
    color: rgb(118, 118, 118);
    float: left;
    font-size: x-large;
    padding-left: 20px;
  }
  .NavMenu {
    width: 100%;
    height: auto;
    text-align: center;
    align-content: center;
  }
  .Dot {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #f66b0e;
    float: right;
    margin-top: 20px;
  }
  .SignIn {
    float: right;
    width: 100px;
    height: 30px;
    background-color: #f66b0e;
    color: rgb(220, 220, 220);
    border: none;
    border-radius: 20px;
    margin-right: 20px;
  }
  .LogIn {
    float: right;
    width: 100px;
    height: 30px;
    background-color: #205375;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-right: 20px;
  }
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #f66b0e;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
    margin-top: 10px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
h3{
    margin-top: 50px;
}
.footer {
    width: 100%;
    height: 522px;
    background-color: black;
  }
  .footer-top-content {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
  
  }
  .books{
      display: block;
  }
  @import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Kanit:wght@200&family=Oleo+Script+Swash+Caps&family=Radio+Canada:wght@500;700&family=Ubuntu&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Kanit:wght@200&family=Radio+Canada:wght@500;700&family=Ubuntu&display=swap');
  .footer-top-content a{
    padding-top: 20px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Fira Sans', sans-serif;
    color: white;
    display: block;
  }
  .footer-top-content h3{
    color: white;
    font-size: 28px;
    font-family: 'Radio Canada', sans-serif;
    font-weight: bold 700;
  }
  .LOGO{
    padding-top: 40px;
    padding-left: 40px;
  }
  .LOGO h5{
    color: white;
    font-family: 'Radio Canada', sans-serif;
  }
  .footer-logo {
    color: white;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-weight: bold 700;
  }
  .wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .wrapper .icon{
    position: relative;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
  }
  .wrapper .icon i{
    color: #fff;
    transition: .4s linear;
  }
  .wrapper .icon::before,
  .wrapper .icon::after{
    content: '';
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: .4s linear;
  }
  .wrapper .icon:hover::before{
    border-radius: 50%;
    border-left: 4px solid;
    border-right: 4px solid;
    transform: skewX(20deg);
    color: #fff;
  }
  .wrapper .icon:hover::after{
    border-radius: 50%;
    border-top: 4px solid;
    border-bottom: 4px solid;
    transform: skewY(-20deg);
    color: #fff;
  }
  .wrapper .tooltip{
    position: absolute;
    top: 0;
    font-size: 14px;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0,0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon:hover .tooltip{
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }